body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #002b3c;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003618;
    color: white;
    padding: 20px;
}

h1 {
    margin: 0;
}

.fish-container {
    margin-top: 20px;
    position: relative;
    height: 300px;
}

#fish {
    width: 100px;
    position: absolute;
    top: 100px;
    left: 50px;
    transition: 0.2s;
    cursor: pointer;
}

button {
    background-color: #002510;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #003618;
}

footer {
    margin-top: 50px;
    padding: 10px;
    background-color:  #002510;
    color: white;
}