@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

body {
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'JetBrains Mono', monospace;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    overflow-x: hidden;
}

.logo {
    position: absolute;
    top: 30px;
    left: 5%; /* Change this if you want to move the logo more to the left or tot the right*/
    width: 250px;
}

.sidebar {
    position: absolute;
    top: 200px;
    left: 5%; /* Change this if you want to move the sidebar more to the left or tot the right*/
    width: 250px;
    text-align: left;
    line-height: 1.5;
    font-family: 'JetBrains Mono', monospace;


    /* [Featured Work] [All Work] */
    .titles {
        font-weight: 100; 
        font-size: 18px; 
        font-family: 'JetBrains Mono', monospace; 
        color: rgb(52, 52, 52); 
        margin-bottom: 0px; 
    }
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.sidebar ul li a:hover {
    color: gray;
}

.menu {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%); 
    display: flex;
    gap: 80px; /* Adjust spacing between links in the menu */
    font-size: 18px;
    white-space: nowrap;
    align-items: center;


    .bracket{
        font-size: 32px;
    }
}

.menu a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.menu a:hover{
    color: gray;
}

.menu span {
    font-weight: bold;
}

.featuredWork,
.allWork,
.store,
.smallLinks {
    text-align: left;
    padding: 8px; /* verticle space on sidebar */
    
}

